.mau-mau {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;

    .stack {
        left: 42%;
        transform: translateX(-42%);
    }

    .draw-stack {
        left: 58%;
        transform: translateX(-58%);
    }

    .opponents {
        border: 1px solid darkgreen;
        border-radius: 15px;
        padding: 5px;
        margin-left: 30px;
        width: 250px;
    }

    #game-log {
        position: relative;
        border: 1px solid darkgreen;
        border-radius: 15px;
        padding: 5px;
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
    }
}
